aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
py-tgcalls
pytube
wget
python-dotenv
tgcrypto
git+https://github.com/alexmercerind/youtube-search-python@main
speedtest-cli
cryptography
dnspython
future
hurry.filesize
motor
psutil
pykeyboard
pyromod
pymongo
requests
speedtest-cli
uvloop
youtube_dl
yt-dlp==2021.11.10.1
telegraph
hachoir
lyricsgenius
git+https://github.com/subinps/pyrogram.git@session
aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
pyrogram==1.2.20
py-tgcalls==0.8.3
pytube
wget
python-dotenv
search-engine-parser
tgcrypto
youtube-search-python
youtube-search
speedtest-cli
cryptography
dnspython
future
googletrans
hurry.filesize
motor
psutil
pykeyboard
pyromod
requests
speedtest-cli
uvloop
yt-dlp==2021.11.10.1
hachoir
lyricsgenius
httpx>=0.14.2
